# Exclude data files
data/

# Python cache files
__pycache__/
*.pyc

# Virtual environment
.venv/

# Logs and checkpoints
logs/
checkpoints/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
